<div id="EmployeeCreateModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create Employee</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">

                                <input type="file" id="UserImageUpload" />
                                <img src="~/images/imageUpload.png" width="150px" height="150px" onclick="document.getElementById('UserImageUpload').click()" id="UserImageView" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="EmployeeFirstName">First Name</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="EmployeeFirstName" name="EmployeeFirstName" class="form-control" />
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="EmployeeLastName">Last Name</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="EmployeeLastName" name="EmployeeLastName" class="form-control" />
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="EmployeePIN">Personal ID</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="EmployeePIN" name="EmployeePIN" class="form-control" />
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="EmployeeBirthDate">Birth Date</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="EmployeeBirthDate" name="EmployeeBirthDate" class="form-control" />
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="EmployeeAddress">Address</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="EmployeeAddress" name="EmployeeAddress" class="form-control" />
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="EmployeeGender">Gender</label>
                            </div>
                            <div class="col-md-8">
                                <select id="EmployeeGender" name="EmployeeGender" class="form-control">
                                    <option></option>
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="EmployeeIPPhone">IP Phone</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="EmployeeIPPhone" name="EmployeeIPPhone" class="form-control" />
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="EmployeeMobile">Mobile</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="EmployeeMobile" name="EmployeeMobile" class="form-control" />
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="EmployeeHome">Home</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="EmployeeHome" name="EmployeeHome" class="form-control" />
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="EmployeeEmergencyContact">Emergency Contact</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="EmployeeEmergencyContact" name="EmployeeEmergencyContact" class="form-control" />
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="EmployeeEmail">Email</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="EmployeeEmail" name="EmployeeEmail" class="form-control" />
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="EmployeeInsurancePackage">Insurance Package</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" id="EmployeeInsurancePackage" name="EmployeeInsurancePackage" class="form-control" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
