@model Models.ViewModels.ExcelLoan.UploadFileTypeViewModel

@{
    ViewData["Title"] = "AddFileType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddFileType</h2>

<h4>UploadFileTypeViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-danger" style="margin-top:30px;">
            <div class="panel-heading">Add File Type</div>
            <div class="panel-body">
                @using (Html.BeginForm("AddFileType", "ExcelLoan", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-md-4">
                            File Type Name:
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.Description,new {@class="form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            Path Name:
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.FilesPath, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-2">
                            <input type="submit" class="btn btn-success" value="Add File Type" />
                        </div>

                        <div class="col-md-5"></div>
                    </div>

                }

            </div>
        </div>
        </div>
        </div>

        <div>

        </div>

